/* 
Pink Color: #ed1b3e
Peach Color: #f79b8c
text color antique white
*/

main {
    background-color: #ed1b3e;
    padding: 50px;
    width: 50%;
    margin: auto;
}

body {
    padding: 50px;
}


.container {
    text-align: center;
    font-family: Poppins;
    font-size: small;
    color: white;
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-template-areas: 
    "top-left top-right"
    "bottom-left bottom-right";
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.top-left {
    grid-area: top-left;
    background-color: #f79b8c;
}

.top-right {
    grid-area: top-right;
    background-image: url(images/top-right.jpg);
    background-size: cover;
}


.bottom-left {
    grid-area: bottom-left;
    background-image: url(images/bottom-left.jpeg);
    background-size: cover;
}

.bottom-right {
    grid-area: bottom-right;
    background-color: #f79b8c;
}

h1 {
    color: #ed1b3e;
    text-transform: uppercase;
}





